:root {
  --color0: #333;
  --color1: #222;
  --color2: #eee;
  --color3: #d7277f;
    font-family: sans-serif;
    font-size: 13px;
}

body {
  background-color: var(--color0);
  margin: 2rem;
  min-width: 500px;
  height: auto;
  color: #eee;
}

textarea {
  color: var(--color2);
  background-color: #222;
  border: none;
  resize: vertical;
  width: 100%;
  min-height: 25rem;
  padding: .5rem;
}
textarea:focus{
  outline: none;
  border: .0625rem solid var(--color3) !important;
}

pre {
  overflow: auto;
  background: #23241f;
}
.bar {
  opacity: .6;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: var(--color1);
  width: 100%;
}

.hljs {
  background-color: var(--color1) !important;
}
.bar:hover{
  opacity: 1;
}
input {
  background: var(--color1);
  outline: none;
  color: var(--color2);
  border: .0625rem solid var(--color3);
  margin-right: 10px;
}
button {
  box-sizing: border-box;
  border: .0625rem solid var(--color3);
  margin: 0 .2rem;
  background: var(--color1);
  color: var(--color2);
  cursor: pointer;
  text-align: center;
}
button:hover {
  color: var(--color1);
  background: var(--color3);
}

.var {
  color: var(--color3) !important;
  margin-right: 5px;
  margin-left: 5px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color3); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

#myBtn:hover {
  border: .0625rem solid var(--color3);
  background-color: var(--color1); /* Add a dark-grey background on hover */
}
select {
  background: var(--color1);
  outline: none;
  color: var(--color2);
  border: .0625rem solid var(--color3);
}
.container {
  display: flex;
}

.home {
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--color1);
  margin-right: 10px;
}